{%extends "base.html"%}
{%load pglister%}
{%block content%}
<h1>Manage global subscribers</h1>

{%if object_list%}
<form method="post" action=".">{%csrf_token%}
<input type="hidden" name="search" value="{{search}}">

<div class="container ltable">
{%for s in object_list%}
{%if forloop.first%}
<div class="row header hidden-xs">
  <div class="col-md-5">Address</div>
  <div class="col-md-3">List</div>
  <div class="col-md-1">Unsubscribe?</div>
  <div class="col-md-2">Bounces?</div>
</div>
{%endif%}
<div class="row">
  <div class="col-md-5">{{s.subscriber}}</div>
  <div class="col-md-3">{{s.list}}</div>
  <div class="col-md-1"><input type="checkbox" name="s_{{s.id}}" value="1"></div>
  <div class="col-md-2">
	  <a href="../../../bounces/{{s.list_id}}-{{s.subscriber_id}}">Bounces</a>
  </div>
</div>
{%endfor%}
</div>
<div class="row">
  <div class="col-md-5">
    <select name="unsubnote" class="form-control">
      <option value="">** No notification</option>
{%for n in unsubnotices%}
<option value="{{n.id}}" title="{{n.content}}">{{n.title}}</option>
{%endfor%}
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <input class="btn btn-default" type="submit" value="Unsubscribe selected">
  </div>
</div>
</form>

{%if is_paginated%}
<ul class="pagination pagination-sm">
{%if not page_obj.has_previous%}<li class="disabled"><span>&laquo;</span></li>{%else%}<li><a href="{{baseurl}}page={{page_obj.previous_page_number}}">&laquo;</a></li>{%endif%}
{%for p in page_obj.paginator.page_range %}
{%if page_obj.number == p%}<li class="active"><span>{{p}}</span></li>{%else%}<li><a href="{{baseurl}}page={{p}}">{{p}}</a></li>{%endif%}
{%endfor%}
{%if not page_obj.has_next%}<li class="disabled"><span>&raquo;</span></li>{%else%}<li><a href="{{baseurl}}page={{page_obj.next_page_number}}">&raquo;</a></li>{%endif%}
</ul>
{%endif%}

{%else%}
<p>No matching subscriptions found.</p>
{%endif%}

<p></p>
<a class="btn btn-default" href="../../../?global=1">Return to main page</a>

{%endblock%}
