{%extends "base.html"%}
{%load pglister%}
{%block content%}
<h1>Your subscriptions</h1>
{%if has_subscriptions %}
<p>
  You are currently subscribed to the following lists.
</p>
<table class="table table-condensed table-striped table-hover">
{%for s in subscribers%}
{%if s.listsubscription_set.all%}
<tr>
  <th>{{s.email}}</th>
  <th>Mail delivery</th>
  <th>Actions</th>
</tr>
  {%for l in s.listsubscription_set.all%}
  <tr>
    <td>{{l.list}}</td>
    <td>{{l.nomail|yesno:"Disabled,Enabled"}}
{%if l.list.tagged_delivery%} ({%if l.tags.all%}{{ l.tags.all|join:"," }}{%else%}all mail{%endif%}){%endif%}
    </td>
    <td>
{%if l.subscription_confirmed %}
{%if l.list.archivedat%}
      <a href="{{l.list.archive_url}}" class="btn btn-default btn-sm">View archives</a>
{%endif%}
      <a href="edit/{{l.id}}/" class="btn btn-default btn-sm">Edit subscription</a>
      <a href="unsubscribe/{{s.id}}-{{l.list.id}}/" class="btn btn-default btn-sm">Unsubscribe</a>
{%if l.list.members_view_membership%}
      <a href="members/{{l.list.id}}/" class="btn btn-default btn-sm">View membership</a>
{%endif%}
      <a href="testmail/{{s.id}}-{{l.list.id}}/" class="btn btn-default btn-sm">Send test mail</a>
{%else%}
<span class="label label-default">Subscription pending moderator decision.</span>
{%endif%}
    </td>
  </tr>
  {%endfor%}
{%endif%}
{%endfor%}
</table>
{%else%}
<p>
  You are not currently subscribed to any lists on this server.
</p>
{%endif%}

{%if subscribeform.showform %}
<h1>Subscribe</h1>
<b>Note 1:</b> Please ensure you read the <a href="https://www.postgresql.org/about/policies/archives/">Archive Policy</a>
before posting to the lists.</p>

<p><b>Note 2:</b> Please do not subscribe to mailing lists using e-mail
accounts protected by mail-back anti-spam systems. These are extremely annoying
to the list maintainers and other members, and you may be automatically unsubscribed.
</p>
<p>
  Subscribe to a mailing list:
</p>
<form class="form-inline" method="POST" action="subscribe/">{%csrf_token%}
  <div class="form-group">
    <label for="listid">List</label>
    {{subscribeform.listid|field_class:"form-control"}}
  </div>

  <div class="form-group">
    <label for="addr">Address</label>
    {{subscribeform.addr|field_class:"form-control"}}
  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-default" value="Subscribe">
  </div>
</form>
{%endif%}

{%if modqueue%}
<h1>Your moderation queue</h1>
<p>
  The following emails from you are currently in the queue for moderation,
  and will be released (or rejected) as soon as a moderator has time to
  look at it.
</p>
<table class="table table-condensed table-striped table-hover">
<tr>
  <th>List</th>
  <th>Sender</th>
  <th>Queued at</th>
  <th>Message-id</th>
  <th></th>
</tr>
{%for m in modqueue%}
<tr>
  <td>{{m.name}}</td>
  <td>{{m.sender}}</td>
  <td>{{m.moderatedat}}</td>
  <td>{{m.messageid}}</td>
  <td><a class="btn btn-default" href="unqueue/{{m.moderation_id}}/">Cancel post</a></td>
</tr>
{%endfor%}
</table>
{%endif%}


<h1>Manage email addresses</h1>
<p>
  You can manage multiple email addresses from the same account, for example to use them
  for different mailing lists. You can also block your own email
  address from the lists. In this case, if you accidentally send an email
from this address or if somebody includes it in an email to the list,
it will be denied from posting, as a way to avoid leaking the address
to the list.
</p>
{%if not managesecondary%}
<p>
  To register additional addresses, add them to your account on
  <a href="{{upstream}}">{{upstream}}</a>, and they will automatically appear here.
</p>
{%endif%}

<table class="table table-condensed table-striped table-hover">
<tr>
  <th>Email address</th>
  <th>Status</th>
  <th>Flags</th>
  <th>Actions</th>
</tr>
{%for s in subscribers%}
<tr>
  <td>{{s.email}}</td>
  <td>{{s.confirmed|yesno:"Confirmed,Pending"}}</td>
  <td>{%if s.blocked%}<span class="label label-default">blocked</span>{%endif%}</td>
  <td>
{%if managesecondary%}
{%if not s.confirmed%}<a class="btn btn-default" href="resend/{{s.id}}/">Resend verification mail</a>{%endif%}
{%if not s.has_subscriptions%}<a class="btn btn-default" href="delmail/{{s.id}}/">Delete</a>{%endif%}
{%endif%}
<a class="btn btn-default" href="block/{{s.id}}/">{%if s.blocked%}Unblock{%else%}Block{%endif%}</a>
  </td>
</tr>
{%endfor%}
</table>

{%if managesecondary%}
<h3>Add new address</h3>
<p>
  To add a new email address, fill out the fields below. An email will be sent to the
  address to verify that you are in control of it.
</p>

<form class="form-inline" method="POST" action="addmail/">{%csrf_token%}
  <div class="form-group">
    <label for="email">Address</label>
    {{addmailform.email|field_class:"form-control"}}
  </div>

  <div class="form-group">
    <label for="email2">Confirm address</label>
    {{addmailform.email2|field_class:"form-control"}}
  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-default" value="Add email address">
  </div>
</form>
{%endif%}

<p></p>

<h1>Global configuration</h1>
<p>
 The following configuration settings apply to all your list subscriptions.
</p>
<form class="form-horizontal" method="POST" action=".">{%csrf_token%}
{%with form=globalform%}
{%include "form_content.html"%}
{%endwith%}
</form>


{%if is_moderator%}
<h1>Manage lists</h1>
<p>
  You are a registered moderator/manager of at least one mailing list.
</p>
<a class="btn btn-default" href="/moderate/">Moderate/Manage lists</a>
{%endif%}
<p></p>

<h1>Log out</h1>
<a class="btn btn-default" href="/accounts/logout/">Log out</a>

{%endblock%}
