{%extends "base.html"%}
{%block content%}
<h1>Moderators</h1>

<h2>By list</h2>
<ul>
{%for l in lists %}
 <li>{{l}}
  <ul>
{%for m in l.moderators.all %}
   <li>{{m}}</li>
{%endfor%}
  </ul>
 </li>
{%endfor%}
</ul>

<h2>By moderator</h2>
<ul>
{%for m in moderators  %}
 <li>{{m}}
  <ul>
{%for l in m.moderator_of_lists.all %}
   <li>{{l}}</li>
{%endfor%}
  </ul>
 </li>
{%endfor%}
</ul>

<a class="btn btn-default" href="/moderate/">Return to overview</a>

{%endblock%}
